/*Reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    }

body {
    font-family: "Bookman Old Style";
}    

ul {
    list-style-type: none;
}

/** Nav Bar **/

.navbar {
    background-color: antiquewhite;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
}

.navbar ul a:hover {
    border-bottom: 1px black solid;
}

.navbar .flex {
    justify-content: space-between;
}

.phone {
    margin-left: 25px;
}

.container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
